<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Chrome, Firefox OS, and Opera -->
		<meta name="theme-color" content="#3b334e">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#3b334e">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="#3b334e">
		<title>Coding Challenge - Pandell</title>
		<link rel="stylesheet" href="/libraries/fontawesome/css/all.min.css?v=5.15.4">
		<link rel="preload" as="font" href="/libraries/fontawesome/webfonts/fa-solid-900.woff2" type="font/woff2" crossorigin="anonymous">
		<link rel="stylesheet" href="/libraries/jquery-toast/dist/jquery.toast.min.css?v=1.3.2">
		<link rel="stylesheet" href="/libraries/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min.css?v=4.2.8">
		<link rel="stylesheet" href="/libraries/tooltipster/dist/css/tooltipster.bundle.min.css?v=4.2.8">
		<link rel="stylesheet" href="/css/style.css?v=1.0.0">
		<script src="/js/jquery/jquery-3.6.0.min.js"></script>
		<script src="/js/axios/axios.min.js?v=0.24.0"></script>
		<script src="/libraries/jquery-toast/dist/jquery.toast.min.js?v=1.3.2"></script>
		<script src="/libraries/tooltipster/dist/js/tooltipster.bundle.min.js?v=4.2.8"></script>
	</head>
	<body>
		<div class="container">
			<button>
				<span>Generate Random Numbers</span>
				<i class="fas fa-spinner fa-spin display-none"></i>
			</button>
			<div class="grid"></div>
		</div>
		<script>
			function toggleSpinner() {
				$('button span').toggleClass('display-none');
				$('button .fa-spinner').toggleClass('display-none');
			}

			function generateGrid(data) {
				let html = '';
				data.forEach((element) => {
					html += '<div class="box">' + element.toLocaleString() + '</div>';
				});

				return html;
			}

			$(document).ready(function() {
				let size = <%- JSON.stringify(data) %>;

				$(document).on('click', 'button', function(e) {
					e.preventDefault();

					$.ajax({
						method: "POST",
						url: "/grid",
						beforeSend: function(jqXHR, settings) {
							$('.grid').empty();
							toggleSpinner();
						},
						success: function(data, textStatus, jqXHR) {
							let html = generateGrid(data);
							$('.grid').append(html);
							toggleSpinner();
						},
						error: function(jqXHR, textStatus, errorThrown) {
							toggleSpinner();
							alert('An error occured. Please make sure the server is running.');
						}
					});
				});
			});
		</script>
	</body>
</html>