* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: sans-serif;
}

body {
	padding: 50px;
	text-align: center;
	overflow-y: scroll;
}

button {
	display: block;
	width: 250px;
	background-color: #02a146;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.15385;
	margin: 1.5rem 0;
	outline: none;
	padding: 8px .8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}

button:hover,
button:focus {
	background-color: #018f3e;
}

button:focus {
	box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.grid {
	padding: 35px 15px;
	display: grid;
	grid-template-columns: 70px 70px 70px 70px 70px;
	/*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
	grid-gap: 10px;
	justify-content: center;
	background-color: #fff;
	color: #444;
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 100%;
	text-align: right;
}

.display-none {
	display: none;
}